* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Heebo", sans-serif;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-10px) scale(2);
}


.foreground {
  transform: translateZ(-5px) scale(1.5);
}

.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  padding: 2rem;
  color: white;
  width: 100%;
  background: rgb(0, 0, 0);
  box-shadow: 40px 10px 10px 40px black;
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}

.landing {

  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  z-index: -1;
}
#ghost,#ghost2 {
  opacity: .8;
}


nav {
  position: absolute;
  width:100%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  z-index: 1;
  padding: 2em;
  background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(0,0,0,1));
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li {
  padding-left: 10rem;
  font-size: 1.2rem;
  color:white;
  text-shadow: 2px 2px 5px black;
}
#logo {
  font-family: "Lobster", cursive;
  font-weight: lighter;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 5px black;
}
.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}

.text {
  padding: 2rem 20rem;

}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  font-size: 5rem;
  font-family: "Lobster", cursive;
  color: white;
  text-shadow: 5px 5px 10px black;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

.text2 {
  color: rgb(202,0,0);
  padding: 2rem 20rem;
}
